<ul class="collection">
  <%= for story <- @storys do %>
    <li class="collection-item">
      <%= link story.title, to: story_path(@conn, :show, story) %>
      <div class="right">
        <%= link "Edit", to: story_path(@conn, :edit, story) %> |
        <%= link "Delete", to: story_path(@conn, :set_inactive, story), method: :put %>
      </div>
    </li>
  <% end %>
</ul>
